{% extends 'players/base.html' %}



{% block content %} 
<ul class="list-articles">
    {% for p in posts %}
        <li><div class="article-panel">
                <p class="first">Kategoriya: {{ p.cat }}</p>
                <p class="last">Sana: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
            </div>
            <h2>{{ p.title }}</h2>
            <p>{{ p.content|linebreaks|truncatewords:50 }}</p>
            <div class="clear"></div>
            <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Batafsil</a></p>
        </li> 
    {% endfor %}
</ul>
{% endblock %}